/* General Styles */
.readWeb-Container {
  margin: 0 auto;
  display: flex;
  margin-top: 2%;
  padding-top: 2%;
  font-family: Arial, sans-serif;
  flex-direction: row;
  justify-content: space-between;
}

.dark .readWeb-Container{
  background: #222;
  color: white;
}

.indexRead {
  width: 20%;
  padding: 20px;
  background-color: #f0f0f0;
}

.dark .indexRead {
  background: black;
  color: white;
}

.indexRead .logo {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.dark .indexRead .logo {
  background-color: #383B38;
  filter: invert(1);
}

.indexRead h3, .indexRead h4, .indexRead h5, .indexRead h6 {
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}

.indexRead ul {
  list-style-type: none;
  padding-left: 0;
  display: block;
  flex-direction: column;
}

.indexRead li {
  margin-bottom: 5px;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  text-align: left;
}

.dark .indexRead li {
  color: #c0c0c0;
}

.indexRead .topic {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 20px;
}

.webpage_read h3{
  font-size: 25px;
  color: #fda521;
}

.webpage_read h4{
  font-size: 20px;
}

.webpage_read h5{
  font-size: 15px;
  margin-bottom: 15px;
}

.indexRead .topic:hover {
  /* background-color: #e0e0e0; */
  color: #25d366;
}

.indexRead .topic.active {
  font-weight: bold;
  /* background-color: #c0c0c0; */
  color: #25d366;
}

.data-container {
  width: 80%;
  padding: 20px;
}

.text-section {
  margin-bottom: 20px;
}

.table-section {
  margin-bottom: 20px;
}

.table-section h2 {
  margin-bottom: 10px;
}

.table-section table {
  width: 100%;
  border-collapse: collapse;
}

.table-section th, .table-section td {
  border: 1px solid #ddd;
  padding: 8px;
}


.list-section ul {
  list-style-type: none;
  padding-left: 0;
  display: block;
  flex-direction: column;
}

.list-section li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  text-align: left;
}

.list-section li::marker {
  color: #333;
}


.header2  {
  /* width: 100%; */
  background-color: #fda521; /* Different background color */
  /* padding: 10px 0; */
  position: relative; /* Keep header in the document flow */
  z-index: 20; /* Ensure header is above index */
}

.hamburger-menu2 {
  display: none; /* Hidden by default, only visible in mobile view */
  font-size: 2rem;
  cursor: pointer;
  text-align: right;
  padding: 0 20px;
  z-index: 30; /* Ensure hamburger menu is above everything */
}

.dark .header2 {
  background: #4a4c5c;
}

@media (max-width: 768px) {
  .readWeb-Container  {
    flex-direction: column;
  }

  .hamburger-menu2 {
    display: block;
    padding-top: 12%;
    font-size: 30px;
  }

  .indexRead {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
    display: none; /* Initially hide the index on small screens */
  }

  .indexRead.visible {
    display: block; /* Show the index when the button is clicked */
  }

  .data-container {
    width: 100%;
  }

  .indexRead ul {
    flex-direction: column;
  }

  .indexRead .topic {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .indexRead {
    padding: 10px;
  }

  .readWeb {
    padding: 10px;
  }

  .navigation-buttons button {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Button to toggle index visibility on small screens */
.toggle-index-button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.dark .toggle-index-button {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .toggle-index-button {
    display: block;
  }
}

.webpage_read .topic img {
  background-color: black; /* Set background color to black by default */
}

.dark .webpage_read .topic img {
  background-color: white; /* Set background color to white for dark mode */
  filter: invert(1); /* Invert colors for dark mode */
}