/* General Styles */
.readWebContainer {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
}

.index {
  width: 20%;
  padding: 20px;
  overflow-y: auto;
  max-height: 100vh;
  background-color: #f0f0f0;
}

.dark .index {
  background: black;
  color: white;
}

.index .logo {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.dark .index .logo {
  background-color: #383B38;
  filter: invert(1);
}

.index h3, .index h4, .index h5, .index h6 {
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}

.index ul {
  list-style-type: none;
  padding-left: 0;
  display: block;
  flex-direction: column;
}

.index li {
  margin-bottom: 5px;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  text-align: left;
}

.dark .index li {
  color: #c0c0c0;
}

.index .topic {
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

.index .topic:hover {
  background-color: #e0e0e0;
}

.index .topic.active {
  font-weight: bold;
  background-color: #c0c0c0;
}

.readWeb {
  width: 80%;
  padding: 20px;
}

.text-section {
  margin-bottom: 20px;
}

.table-section {
  margin-bottom: 20px;
}

.table-section h2 {
  margin-bottom: 10px;
}

.table-section table {
  width: 100%;
  border-collapse: collapse;
}

.table-section th, .table-section td {
  border: 1px solid #ddd;
  padding: 8px;
}

@media (max-width: 768px) {
  .readWebContainer {
    flex-direction: column;
  }

  .index {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .readWeb {
    width: 100%;
  }

  .index ul {
    flex-direction: column;
  }

  .index .topic {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .index {
    padding: 10px;
  }

  .readWeb {
    padding: 10px;
  }

  .navigation-buttons button {
    width: 100%;
    margin-bottom: 10px;
  }
}
