.Basic{
    width: 80%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    gap:10px 20px;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    background: #fef5ea;
    justify-content:'center';
    align-items:'center';
    transition: 0.5s;
  }
  
  .Basic.dark{
    background: #222;
  }
  
  .HomeButton{
    width: 90px;
    height: 40%;
    flex:22%;
    border:none;
    border-radius: 5px;
    background: #4a4c5c;
    color: #ffffff;
  }