
.modal-overlay-product {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content-product {
    display: flex;
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
}

.modal-image-container-product {
    position: relative;
    flex: 1;
}

.modal-image-product {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.prev-arrow-product,
.next-arrow-product {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}

.prev-arrow-product {
    left: 10px;
}

.next-arrow-product {
    right: 10px;
}

.modal-info-product {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.modal-info-product h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-info-product p {
    font-size: 16px;
    margin-bottom: 10px;
}

.close-btn-product {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}
