*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App{
  width: 100vw;
  min-height: 100vh;
  /* background: #f4e7fb; */
  /* background: linear-gradient(#F4C0B3, #AFA7BB, #085467); */
}

/* .App.dark{
  background: #101415;
} */

.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 1000;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #25d366;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #25d366;
}

.dark button:hover {
  /* background-color: #25d366; */
  /* transform: scale(1.05); */
  box-shadow: 0 0 3px #25d366,0 0 10px #25d366,0 0 15px #25d366,0 0 20px #25d366,0 0 30px #25d366;
}

