*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App{
  width: 100vw;
  min-height: 100vh;
  background: #f4e7fb;
}

/* .App.dark{
  background: #101415;
} */

.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 1000;
}

